.header-bar {
  background-color: rgb(56, 56, 56);
  height: 80px;
  padding-right: 0;
  padding-top: 15px;
  color: white;
  text-shadow: 2px 2px #141414;
}
.title-bar {
  width: 40%;
}

.header-bar .nav {
  width: 35%;
  position: absolute;
  right: 30px;
  top: 20px;
}

.header-bar a {
  text-decoration: none;
  padding-right: 20px;
  color: white;
}

.header-bar a:hover{
  color: yellow;
}

.header-bar ul {
  list-style-type: none;
  display: inline-block;
}

.header-bar li {
  display: inline;
}

.header-bar h1 {
  display: inline;
  font-size: 2.2em;
  padding-left: 10px;
  padding-right: 24%;
}

.header-bar .far {
  font-size: 2em;
  padding: 0 10px;
}

.header-bar .fas {
  font-size: 3em;
  position: absolute;
  right: 15px;
  top: 5px;
}

.active-nav {
  display: inline-block;
  position: relative;
}

.hamburger {
  display: none;
}

.show-nav{
  display: inline-block;
}

.hide-nav{
  display: none;
}

@media only screen and (max-width: 1440px){
  .active-nav {
    position: absolute;
    top: 60px;
    right: 2px;
    margin-right: 0;
    background-color: gray;
    z-index: 7;
  }
  .header-bar ul {
    padding-left: 5px;
  }
  .header-bar li {
    display: block;
    text-align: left;
  }
  .hamburger {
    display: block;
  }
  .title-bar {
    width: 80%
  }
}

@media only screen and (max-width: 414px){
  .title-bar {
    text-align: left;
    margin-right: 0;
  }
  .header-bar h1 {
    display: inline;
    font-size: 1.5em;
    padding-left: 0;
    padding-right: 5px;
  }
  
  .header-bar .far {
    font-size: 2em;
    padding: 2px;
  }
  .header-bar .fas {
    font-size: 2.5em;
    right: 0px;
  }
}