.header-bar {
  background-color: gray;
  height: 80px;
  padding-right: 0;
  padding-top: 15px;
  color: white;
}

/* .header-bar .is-active {
  font-weight: bold;
  color: red;
} */

.header-bar a {
  text-decoration: none;
  padding-right: 20px;
  color: white;
}

.header-bar h1 {
  display: inline;
  font-size: 2em;
  padding-left: 10px;
  padding-right: 24%;
}

.header-bar .far {
  font-size: 2em;
  padding: 0 10px;
}

.active-nav {
  display: inline-block;
  position: relative;
}