.introduction{
  position: absolute;
  left: 32%;
  top: 25%;
  font-size: 1.5em;
  color:whitesmoke;
  text-shadow: 2px 2px #141414;
}

.home {
  background-color: lavender;
  text-align: center;
  width: 30%;
  position: absolute;
  left: 35%;
  top: 43%;
  border-radius: 8px;
  padding-bottom: 10px;
}

html {
  text-align: center;
  background-image: url(https://i.ytimg.com/vi/i-TAfCQ62q0/maxresdefault.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.login-form input{
  width: 200px;
  height: 18px;
  border-radius: 5px;
}

.login-form button{
  width: 100px;
  height: 25px;
  margin: 10px;
  border-radius: 5px;
  font-size: .9em;
  background-color: gray;
  color: white;
}

@media only screen and (max-width: 400px){
  .home {
    width: 70%;
    height: 45%;
    left: 16%;
  }
}

@media only screen and (max-height: 600px){
  .home{
    height: 50%;
  }
}