html{
  background-color: #b4e0de;
}

.project-list h1 {
  padding-left: 15px;
}

.project-list {
  background-color: lightgrey;
  border-radius: 10px;
  left: 10px;
  width: 50%;
  text-align: left;
  position: static;
  margin-left: 15px;
}

.project-list h2 {
  margin: 7px 5px;
}

.project-container {
  height: 650px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: scroll;
}

.project-name {
  margin-bottom: 5px;;
}
.project-info {
  margin-left: 10px;
}

@media only screen and (max-width: 1240px){
  .project-container {
    height: 700px;
  }
}

@media only screen and (max-width: 400px){
  .project-container{
    height: 650px;
  }
  .project-list h2 {
    font-size: 1em;
  }
}

@media only screen and (max-height: 800px){
  .project-container{
    height: 500px;
  }
}