html{
  background-color: #b4e0de;
  /* background-image: none; */
}

.project-list h1 {
  padding-left: 15px;
}

.project-list {
  background-color: lightgrey;
  border-radius: 10px;
  left: 10px;
  width: 45%;
  text-align: left;
  position: static;
  margin-left: 15px;
  top: 15%;
  height: 100%;
}
.project-container {
  height: 750px;
  overflow-y: scroll;
}

.project-name {
  margin-bottom: 5px;;
}
.project-info {
  margin-left: 10px;
}