.break-timer {
  display: none;
}

.timer-box {
  background-color:#8fd0e0;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  padding: 5px;
  position: absolute;
  right: 10%;
  text-align: center;
  top: 13%;
  width: 35%;
}

.start-button {
  width: 90px;
  height: 30px;
  border-radius: 8px;
  background-color: darkgrey;
  color: whitesmoke;
  font-size: 1em;
}

.start-button:hover {
  font-weight: bold;
  background-color: rgb(78, 78, 78);
}

@media only screen and (max-width: 1240px){
  .timer-box{
    top: 8%;
    right: 4%;
  }
}

@media only screen and (max-width: 400px){
  .timer-box{
    font-size: .7em;
    top: 13%;
  }
}

@media only screen and (max-height: 800px){
  .timer-box{
    top: 15%;
  }
}